.divider {
     border-left:1px solid #38546d; 
    
     height:80px;
    
     right:249px;
     top:10px; 
}
#about-box {
    color:white;
    padding:5px;
    width: 100%;
    margin: 0 auto;
    text-shadow: 2px 2px 8px black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2em;
}

body {
  overflow-x: hidden;
}

.organization{
    
    float:left; 
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.25rem 9999rem;
    background-color: rgba(255, 255, 255, 0.4);
}
#left {
    float: left;
    width: 60%;
}

.image {
	padding-top: 50px;
    padding-left: 50px;
    padding-bottom:50px;
    width: 75%;
    height: 85%;
}
.imageHumane {
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom:10px;
    width: 75%;
    height: 75%;
}


#right {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom:50px;
    float: left;
    width: 35%;
}