html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(images/wallpaper.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    width: 100%;
    padding-top: 10%;
    margin: 0 auto;
    color: white;
    /*    match height of two floating divs  */
    overflow: hidden;
}


/*footer {
    padding-top: 17%;
    text-align: center;
}*/

a {
    color: black;
    text-decoration: none;
}

li a {
    color: white;
    text-decoration: none;
}

.hnav {
    text-align: center;
}

.hnav img {
    width: 25px;
    height: 25px;
}

.hnav li {
    font-size: 24px;
    text-shadow: 2px 2px 8px black;
    color: white;
    display: inline;
    font-weight: bold;
    list-style-type: none;
    margin-right: 35px;
}

.submit-button {
    transition: opacity 10s;
    -webkit-animation: fadein 10s;
    -moz-animation: fadein 10s;
    margin-left: 10px;
    margin-top: -10px;
    background: url(images/arrow.PNG) no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: none;
}

#tags {
    width: 35%;
    margin-bottom: 50px;
    border: double gray;
    transition: opacity 10s;
    -webkit-animation: fadein 10s;
    -moz-animation: fadein 10s;
}

#text-box {
    width: 65%;
    margin: 0 auto;
    text-shadow: 2px 2px 8px black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2em;
}

#welcome {
    margin-top: -10px;
    font-size: 72px;
    font-weight: 300;
    /*fading*/
    transition: opacity 5s;
    -webkit-animation: fadein 5s;
    -moz-animation: fadein 5s;
}

#intro {
    font-size: 28px;
    font-weight: 600;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    /*fading*/
    transition: opacity 7s;
    -webkit-animation: fadein 7s;
    -moz-animation: fadein 7s;
}

#ask {
    font-size: 38px;
    font-weight: 300;
    /*fading*/
    transition: opacity 9s;
    -webkit-animation: fadein 9s;
    -moz-animation: fadein 9s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
